<% provide(:title, "Home") %>
<% if logged_in?%>
  <div id="home-logged-in" class="container">
    <div class="row">
      <div class="col-md-4 text-md-left text-center">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="thought_form">
          <%= render 'shared/thought_form' %>
        </section>
      </div>
      <div class="col-md-8">
        <hr class="d-md-none">
        <h3 class="text-md-left text-center">Thoughts!</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>
<div id="home-logged-out" class="container text-center">
  <div class="jumbotron">
    <h1 class="display-2">Thinkr.</h1>
    <p class="lead">A twitter clone made for educational purposes</p>
    <%= link_to "Sign Up", signup_path, class: "button"%>
  </div>
</div>
<% end %>
