<% provide(:title, "Home") %>
<div id="home" class="container text-center">
  <div class="jumbotron">
    <h1 class="display-2">Thinkr.</h1>
    <p class="lead">A twitter clone made for educational purposes</p>
    <%= link_to "Sign Up", "#", class: "button"%>
  </div>
</div>
