<p>Hello <b><%= @user.name %></b></p>

<p>You have requested to reset your password. To reset your password please click the link below. </p>
<p>If you think this is a mistake please disregard this email.</p>

<%= link_to "Reset Password", edit_password_reset_url(@user.reset_token, email: @user.email)  %>
<p>Please note that this link will expire in <strong>2 hours.</strong></p>
