<% provide(:title, "Users") %>
<div id="users" class="container">
  <%= will_paginate @user, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <ul class="users" >
    <%= render @user %>
  </ul>
  <%= will_paginate @user, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
