@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$color-primary-0: #AD956B;	// Main Primary color */
$color-primary-1: #FBEDD4;
$color-primary-2: #D0BB98;
$color-primary-3: #8A724A;
$color-primary-4: #725729;

$color-secondary-1-0: #ADAC6B;	// Main Secondary color (1) */
$color-secondary-1-1: #FBFAD4;
$color-secondary-1-2: #D0CF98;
$color-secondary-1-3: #8A894A;
$color-secondary-1-4: #727129;

$color-secondary-2-0: #A4656F;	// Main Secondary color (2) */
$color-secondary-2-1: #EDC8CE;
$color-secondary-2-2: #C58F98;
$color-secondary-2-3: #83464F;
$color-secondary-2-4: #6C2732;

$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;


html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper{
  min-height: 100%;
  position: relative;
}

.content{
  padding-top: 20px;
  padding-bottom: 210px;
  @media only screen and (max-device-width: 480px) {
    padding-bottom: 360px;
  }
}

/* Debug Related styling */
.debug_dump{
  margin: 40px 80px;
  background-color: lightgray;
}

/* Navbar related just color and font */
.navbar {
  background-color: $color-primary-0!important;
}

.nav-item {
  text-decoration: none;
  color: white!important;
  font-size: 14pt;

  &:hover {
    text-decoration: none;
    background-color: $color-primary-3;
  }
}

.navbar-brand {
  text-decoration: none;
  color: white!important;
  font-weight: 500;
  font-size: 21pt;

  &:hover {
    text-decoration: none;
  }
}

.dropdown-toggle{
  text-decoration: none;
  color: white;
  font-size: 14pt;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: $color-primary-3;
  }
}

.dropdown-item{
  color: $primary-text-color!important;
  font-size: 14pt;
  border:none;

  &:active{
    background-color: $color-primary-3;
  }
}

/* footer, darker than header, but similar */
.footer {
  background-color: $color-primary-3!important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px 0;

  color: whitesmoke;

  ul {
    list-style-type: none;
    padding: 0;
  }
  // For the big title"
  h2 {
    color: white;
  }

  a {
    text-decoration: none;
    color: whitesmoke;

    &:hover {
      text-decoration: none;
      color: $secondary-text-color;
    }
  }
}

/* Home page */
#home-logged-out {
  /* Vertical alignment */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .jumbotron {
    width: 100%;
    background-color: $color-primary-2;
    margin: 40px 0;
  }

  .button {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px 5px;
    background-color: $color-primary-0;
    border-color: $color-primary-0;
    color: whitesmoke;
    font-weight: bold;

    &:hover {
      background-color: $color-primary-3;
    }
  }
}

#home-logged-in {
  .user-name{
    padding: 10px 0 0 0;
  }

  .stats-home{
    margin: 10px 0;
  }

  .btn{
    width: 200px;
    margin: 5px 0;
  }

  textarea{
    width: 200px;
    resize: none;
  }

  .thought{
    background-color: $color-primary-1;
    border-radius: 5px 5px;
    margin: 7px 0;
    padding: 5px 5px;
  }

  .thought-time-ago{
    font-weight: lighter;
    color: $secondary-text-color;
  }

  .thought-content{
    overflow: auto;
    width: auto;
  }

  .col-10{
    padding: 0 15px 0 0 !important;
  }

  .pagination{ padding: 0 20px}

  li{
    list-style-type: none;
  }

  h3{
    margin: 10px 0;
  }

  .thought-actions{
    a{
      color: $secondary-text-color;
      font-weight: bold;
    }

    .col-md-2, .col-4{
      padding: 0;
    }
  }
}

/* Form control */
.field_with_errors{
  border-color: red;

  .form-control{
    color:red;
    border-color:red;
  }
}

.gravatar-edit{
  margin: 20px 0;
}

.users, #users{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li{
    margin: 10px 0;
    .users-link{
      color: $primary-text-color;
      font-weight: bold;
      margin: 0 5px;

      &:hover{
        color:blue;
      }
    }

  }
}

#profile{
  h4{
    margin: 10px 0;
    width: 100%;
  }

  .profile-photo{
    margin: 0 auto;
  }

  ol{
    padding: 0;
    list-style-type: none;
  }

  .thought{
    background-color: $color-primary-1;
    border-radius: 5px 5px;
    margin: 7px 0;
    padding: 5px 5px;
  }

  .thought-time-ago{
    font-weight: lighter;
    color: $secondary-text-color;
  }

  .pagination{ padding: 0 20px}

  .col-10{
    padding: 0 15px 0 0 !important;
  }

  li{
    list-style-type: none;
  }

  h3{
    margin: 10px 0;
  }

  .thought-actions{
    a{
      color: $secondary-text-color;
      font-weight: bold;
    }

    .col-md-2, .col-4{ padding : 0}
  }


}

#follow_form{
  .btn{ width: 100%;}
}

#feed{
  ul{
    width: 100%;
  }
  .pagination{
    width: 100%;
    padding: 0!important;
    li{max-width: 2em;}
  }
}
