<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h1>Thinkr.</h2>
          <p>Build by RoR</p>
        </div>
        <div class="col-sm-4">
          <ul>
            <li>
              <%= link_to "Jobs", "#", class:"footer-link" %>
            </li>
            <li>
              <%= link_to "Media", "#", class:"footer-link" %>
            </li>
            <li>
              <%= link_to "Good Stuff", "#", class:"footer-link" %>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          Social Media icons //TODO
        </div>
      </div>
    </div>
  </div>
</footer>
